:root {
  --lt-purple: rgb(234, 218, 250);
  --dk-purple: rgb(40, 21, 65);
}

body {
  background: var(--lt-purple);
  color: var(--dk-purple);
}

.App {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 2% auto;
}
.navbar > a,
.admin-controls > a {
  text-decoration: none;
  color: var(--dk-purple);
  padding: 5px;
}
.admin-controls {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
}

.home {
  width: 99vw;
}

.slide-container {
  width: 75%;
  margin: auto;
  margin-bottom: 10%;
}

.blog-post-preview > h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 55vh;
}

.each-slide span {
  padding: 2.5vh;
  font-size: 2.5vh;
  background: rgb(125, 105, 145);
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: rgb(125, 105, 145);
}

.indicator {
  width: 3vh;
  color: var(--dk-purple);
  text-align: center;
  cursor: pointer;
  border: 0.1vh rgb(125, 105, 145) solid;
  border-radius: 10px;
}

.indicators {
  padding: 0%;
  margin-bottom: -10%;
}
.indicator.active {
  background: var(--dk-purple);
  color: var(--lt-purple);
}
.slide-show-title {
  background: rgba(234, 218, 250, 0.5);
  border-radius: 2px;
  padding: 5px;
}

.outside-grid {
  display: grid;
  grid-template-columns: 40% fit-content;
  grid-template-rows: auto auto auto;
  gap: 10px;
  margin: 5% auto;
  width: 75%;
  border-bottom: 1px solid var(--dk-purple);
  padding: 5px;
}
.outside-grid:last-of-type {
  border: none;
}
.inside-grid {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: fit-content;
  grid-template-rows: 50% 50%;
  gap: 10px;
  width: 100%;
}
.outside-grid > h2 {
  margin: 0;
  justify-self: start;
  grid-column-start: 1;
  grid-row-start: 1;
}
.outside-grid > h2:hover {
  text-decoration: underline;
}
.outside-grid > div {
  width: 100%;
}
.blog-post-preview {
  cursor: pointer;
}
.blog-post-preview > h3 {
  margin-top: 2px;
  text-align: center;
}
.blog-post-preview > p {
  color: rgb(125, 105, 145);
}

.blog-post-preview:first-of-type {
  grid-column-start: 1;
  grid-row-start: 1;
}
.outside-grid > .blog-post-preview {
  grid-column-start: 1;
  grid-row-start: 2;
}
.blog-post-preview:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}
.blog-post-preview:nth-of-type(3) {
  grid-column-start: 1;
  grid-row-start: 2;
}
.blog-post-preview:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 2;
}
.outside-grid > .blog-post-preview > img {
  width: 100%;
}
.inside-grid > .blog-post-preview > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.topic-blog-preview {
  display: flex;
  margin: 4% 0;
}

.blog {
  width: 75%;
  margin: auto;
}
.published_at {
  color: rgb(125, 105, 145);
}
.blog-main-image {
  width: 100%;
}

.newPost {
  display: flex;
  margin: auto;
  width: fit-content;
}
.newPostForm {
  display: flex;
  flex-direction: column;
  padding: 2em;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-container {
  width: 3%;
  margin: 1em;
}
.icon {
  width: 100%;
}
