.home {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0rem;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.slide-container {
  width: 75%;
  margin: auto;
  margin-bottom: 10%;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 55vh;
}

.each-slide span {
  padding: 2.5vh;
  font-size: 2.5vh;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.indicator {
  width: 3vh;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  border: 0.1vh rgb(199, 199, 199) solid;
  border-radius: 10px;
}

.indicators {
  padding: 0%;
  margin-bottom: -10%;
}
.indicator.active {
  background: #000;
  color: #fff;
}
.slide-show-title {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 5px;
}

.section {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 10% 45% 45%;
  gap: 10px;
  margin: 10% auto;
  width: 75%;
  /* height: 50vh; */
}
.section > h3 {
  margin: 0;
  justify-self: start;
}
.section > div {
  width: 100%;
}
.section > div > h5 {
  margin-top: 2px;
  text-align: center;
}
