.App {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.home {
  width: 100vw;
}

.slide-container {
  width: 75%;
  margin: auto;
  margin-bottom: 10%;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 55vh;
}

.each-slide span {
  padding: 2.5vh;
  font-size: 2.5vh;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.indicator {
  width: 3vh;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  border: 0.1vh rgb(199, 199, 199) solid;
  border-radius: 10px;
}

.indicators {
  padding: 0%;
  margin-bottom: -10%;
}
.indicator.active {
  background: #000;
  color: #fff;
}
.slide-show-title {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 5px;
}

.outside-grid {
  display: grid;
  grid-template-columns: 40% fit-content;
  grid-template-rows: auto auto auto;
  gap: 10px;
  margin: 5% auto;
  width: 75%;
  border-bottom: 1px solid grey;
  padding: 5px;
}
.outside-grid:last-of-type {
  border: none;
}
.inside-grid {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: fit-content;
  grid-template-rows: 50% 50%;
  gap: 10px;
  width: 100%;
}
.outside-grid > h2 {
  margin: 0;
  justify-self: start;
  grid-column-start: 1;
  grid-row-start: 1;
}
.outside-grid > div {
  width: 100%;
}
.blog-post-preview > h3 {
  margin-top: 2px;
  text-align: center;
}
.blog-post-preview > p {
  color: grey;
}

.blog-post-preview:first-of-type {
  grid-column-start: 1;
  grid-row-start: 1;
}
.outside-grid > .blog-post-preview {
  grid-column-start: 1;
  grid-row-start: 2;
}
.blog-post-preview:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}
.blog-post-preview:nth-of-type(3) {
  grid-column-start: 1;
  grid-row-start: 2;
}
.blog-post-preview:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 2;
}
.outside-grid > .blog-post-preview > img {
  width: 100%;
}
.inside-grid > .blog-post-preview > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-container {
  width: 3%;
  margin: 1em;
}
.icon {
  width: 100%;
}
